<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
		http://www.springframework.org/schema/context
  		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean name="triangle"
		class="ec.edu.upse.facsistel.spring.aop.model.Triangle">
		<property name="name" value="Triangle Name" />
	</bean>

	<bean name="circle"
		class="ec.edu.upse.facsistel.spring.aop.model.Circle">
		<!-- <property name="name" value="circle Name" /> -->
	</bean>

	<bean name="shapeService"
		class="ec.edu.upse.facsistel.spring.aop.service.ShapeService"
		autowire="byName">
	</bean>
	
	<bean name="loggingAspect" class="ec.edu.upse.facsistel.spring.aop.aspect.LoggingAspect" />

	<aop:config>
		<aop:aspect id="loggingAspect" ref="loggingAspect">
			<aop:pointcut id="allGetters" expression="execution(* get**())"/>
			<aop:around pointcut-ref="allGetters" method="myAroundAdvice"/>
			<!-- This is equivalent to what's above -->
			<!-- <aop:around pointcut="execution(* get**())" method="myAroundAdvice"/> -->
		</aop:aspect>
		
	</aop:config>

	<!-- @AspectJ support is enabled by including the following element inside 
		your XML Schema-based configuration file. -->
	<context:annotation-config />
	<aop:aspectj-autoproxy />
</beans>